.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgb(0, 0, 0);
  color: white;
}

thead th:nth-child(1) {
  background-color: #282b2c;
  width: 1%;
}

.table, th, td {
  padding: 0%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 5px;
}

.subtitlesBoxForm > th {
  text-align: center;
  background-color: #282b2c;
}

.table td:nth-child(1) {
  text-align: center;
  background-color: #282b2c;
}

body {
  background-color: #464849;
}

thead th:nth-child(1) {
  background-color: #282b2c;
  width: 2%;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width: 10%;
}

thead th:nth-child(4) {
  width: 10%;
}

thead th:nth-child(5) {
  width: 10%;
}

thead th:nth-child(6) {
  width: 35%;
}

.subtitlesBoxFormsAll td {
  /*text-align: center;*/
  background-color: #414141;
}

.video {
  width: 55%;
  background-color: #282b2c;
  height: 300px;
}

.textBox {
  background-color: #282b2c;
  height: 220px;
  width: 45%;
  padding: 2px 5px;
  color: #ffffff;
}

.top {
  /*position: fixed;*/
  width: 100%;
}

.subtitlesBoxFormsAll:hover {
  cursor: pointer;
}

.top {
  box-sizing: border-box;
}

.toolbar {
  width: 45%;
  height: 22px;
  background-color: #0000;
}

.subtitlesBoxFormsAll:checked {
  background-color: var(--bs-indigo);
}

